.overflow-hidden1 {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.songlist_item {
  width: 100%;
  height: 1.3rem;
  line-height: 1.3rem;
}
.songlist_item.active {
  color: #ff286b !important;
}
.songlist_item.active .title_singer {
  color: #ff286b !important;
}
.songlist_item .item_info {
  width: 100%;
  height: 100%;
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
  background: #fff;
  font-size: 0.36rem;
}
.songlist_item .item_info:hover {
  background: rgba(227,227,227,0.9);
}
.songlist_item .item_info .item_flag {
  width: 0.12rem;
  height: 1rem;
}
.songlist_item .item_info .item_flag.active {
  background: #ff286b;
}
.songlist_item .item_info .item_num {
  width: calc(1.1rem - 0.12rem);
  height: calc(100% - 0.3rem);
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
  padding: 0.15rem;
}
.songlist_item .item_info .item_num .serial_number {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 0.7rem;
  line-height: 0.7rem;
  font-weight: 200;
}
.songlist_item .item_info .item_num .num_bottom {
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.songlist_item .item_info .item_num .num_bottom .num_flag {
  display: block;
  width: 0.25rem;
  height: 0.3rem;
  background-image: url("./../../images/icon/new.png");
  background-position: 0rem -0.9rem;
  background-size: 0.5rem;
  background-repeat: no-repeat;
}
.songlist_item .item_info .item_num .num_bottom .num_count {
  display: inline-block;
  width: calc(100% - 0.25rem);
  height: 0.3rem;
  font-size: 0.24rem;
  line-height: 0.3rem;
  margin-left: 0.05rem;
  color: #999;
}
.songlist_item .item_info .item_title {
  width: calc(100% - 0.12rem - 1.4rem - 1.5rem);
  height: calc(100% - 0.2rem - 1px);
  border-bottom: 1px solid #ededed;
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
  padding: 0.1rem 0;
}
.songlist_item .item_info .item_title .title_songname {
  width: 100%;
  height: 0.8rem;
  font-size: 0.32rem;
  line-height: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.songlist_item .item_info .item_title .title_songname .SonGName_name {
  width: 100%;
  height: auto;
  font-size: 0.28rem;
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.songlist_item .item_info .item_title .title_songname .SonGName_OneSelf {
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
  display: inline-block;
  border: 1px solid #ff286b;
  font-size: 0.24rem;
  color: #ff286b;
  height: 0.32rem;
  line-height: 0.32rem;
  border-radius: 3px;
  padding: 0 0.05rem;
  margin-left: 0.1rem;
}
.songlist_item .item_info .item_title .title_singer {
  width: 100%;
  height: 0.3rem;
  font-size: 0.24rem;
  color: #999;
  line-height: 0.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.songlist_item .item_info .item_more {
  width: 1.5rem;
  height: calc(100% - 1px);
  border-bottom: 1px solid #ededed;
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.songlist_item .item_info .item_more .more_mv {
  width: 50%;
  height: 100%;
  display: -webkit-flex /* Safari */;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  -o-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.songlist_item .item_info .item_more .more_mv span {
  width: calc(0.55rem - 2px);
  height: calc(0.38rem - 2px);
  text-align: center;
  line-height: 0.38rem;
  display: block;
  border: 1px solid #ededed;
  color: #ededed;
  font-size: 0.24rem;
  border-radius: 3px;
}
.songlist_item .item_info .item_more .more_flag {
  width: 50%;
  height: 100%;
  font-size: 0.46rem;
  color: #999;
  font-weight: bold;
}
